.quiz-hero {
    padding: 5rem 5rem;
    border-radius: 20px;
    text-align: center;
    margin: 3rem;
    background: #efe8dd;
    color: #2c3e50;
} 

.quiz-hero h2{
    font-size: clamp(1.5rem, 4vw + 1rem, 4rem);
    margin-bottom: 1rem;
    margin-top: 0;
}

.quiz-hero p {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1.5rem);
    margin-bottom: 0;
    margin-top: 0;
}

.information-container {
  display: block;
  text-align: center;
  margin: 0 3rem;
  background-color: rgba(239, 232, 221, 0.5);
  padding: 1rem;
  border-radius: 1rem;
}

.quiz-introduction {
  border-radius: 3rem;
  background: #efe8dd;
  color: #2c3e50;
  display: block;
  margin: 1rem auto;
  text-align: center;
  padding: 1.75rem 4rem;
  max-width: 500px;
}

.quiz-introduction h3 {
  font-size: clamp(1.2rem, 2vw, 2rem);
  margin: 0;
}

.quiz-steps {
  display: flex;
  justify-content: center;
  gap: clamp(2rem, 10vw,10rem);
  margin-top: 3rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.75rem;
}

.step-number {
  width: clamp(100px, 8vw, 120px);
  height: clamp(100px, 8vw, 120px);
  border-radius: 50%;
  background: #2c3e50;
  color: #efe8dd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-weight: 700;
}

.step-text {
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
  color: #2c3e50;
  max-width: 150px;
  line-height: 1.4;
}

.quiz-start {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

.start-button {
  display: inline-block;
  background: #efe8dd;
  color: #2c3e50;
  text-decoration: none;
  padding: 1.2rem 3rem;
  border-radius: 100px;
  font-weight: 700;
  font-size: 1.2rem;
}    

@media (max-width: 768px) {
  .quiz-hero {
    padding: 3rem 2rem;
    margin: 2rem;
  }

  .information-container {
    margin: 2rem;
  }

  .quiz-steps {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
  }

  .step-number {
    width: 80px;
    height: 80px;
    font-size: 1.5rem;
  }

  .step-text {
    max-width: 120px;
    font-size: 0.8rem;
  }

  .start-button {
    margin-top: 1rem;
    padding: 0.9rem 2rem;
    font-size: 1rem;
  }
}
